
<div *ngIf="cartItems.length > 0; else emptyCart" style="padding: 50px;margin-top: 100px">

  <div class="cart-container">
    <div class="cart-item" *ngFor="let item of cartItems">
      <div class="product_image">
        <img [src]="item.processImg" alt="" style="width: 100%">
      </div>

      <div class="product-details">
        <div class="item-row">
          <div class="item-name"[ngClass]="{'highlight':'item:highlight'}">
            {{item.productName}}
          </div>

          <div class="item-price">{{item.price | currency}}</div>
          <div class="quantity-control">
            <button mat-icon-button [disabled]="item.quantity==1" (click)="decreaseProductQuantity(item.product)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
            <span class="quantity">{{item.quantity}}</span>
            <button mat-icon-button (click)="increaseProductQuantity(item.product)">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="total-price">
      Total Amount:{{order.totalAmount | currency}}
    </div>

    <div class="total-price">
      Amount:{{order.amount | currency}}
    </div>

    <div class="total-price" style="display:flex;align-items: start">
      <button mat-raised-button color="primary" > Place Order</button>
    </div>

  </div>


</div>

<ng-template #emptyCart>
  <div class="empty-card">
    <mat-icon class="icon">Remove_shopping_cart</mat-icon>
    <span> Nothing to see here</span>
  </div>
</ng-template>
