
<div class="container" style="padding: 50px;margin-top: 100px;box-shadow: white">
  <table class="table" >
    <thead>
    <tr>
      <th scope="col">TrackingId</th>
      <th scope="col">Amount</th>
      <th scope="col">Description</th>
      <th scope="col">Address</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of myOrders">
      <td>{{order.trackingId}}</td>
      <td>{{order.amount}}</td>
      <td>{{order.orderDescription}}</td>
      <td>{{order.address}}</td>
      <td>{{order.date | date:'dd/MM/yyy'}}</td>
      <td>{{order.orderStatus}}</td>
      <td>

        <span *ngIf="order.orderStatus=='DELIVER'">
          <button class="btn btn-primary" routerLink="/customer/order_product/{{order.id}}">Action</button>
        </span>
      </td>

    </tr>

    </tbody>
  </table>

</div>


