
<form action="" [formGroup]="searchForm" class="search-form" (submit)="onSubmit()"  style="margin-top: 150px">
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Enter keyword search</mat-label>
    <input  matInput formControlName="title" style="color: red">

    <button mat-raised-button matSuffix color="primary" [disabled]="searchForm.invalid"> <mat-icon>search</mat-icon></button>
  </mat-form-field>
</form>








<div class="container-fluid">
  <div class="row  mt-6 g-5 p-5" style="display:flex;align-items: center;justify-content: center">
    <div class="inner-item booking__card col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products">
      <img
        [src]="product.processImg" style="background-position: center; background-size: cover"
        alt="" class="booking__card--image" alt="flight">
      <div class="booking__info">
        <div class="booking__info--top">
          <h3 class="booking__title">{{product.name}}</h3>

        </div>
        <div class="booking__info--middle">
          <p class="booking__price">{{"Rs " + product.price}}</p>
          <div class="booking__card--divider"></div>
          <p class="booking__description">
            {{product.description}}
          </p>
          <button class="btn btn--secondary">Purchase</button>
        </div>
        <div class="booking__info--bottom">

          <button class="btn btn--primary">FAQ</button>
          <button class="btn btn--alt">Delete</button>
        </div>
      </div>
    </div>


  </div>
</div>

