
.outer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .heading{
    padding: 5px;

    h1{
      font-weight: bold;
    }
  }


  .inner-wrapper{
    width: 370px;
    height: 500px;
    -webkit-box-shadow: -1px 3px 5px 4px #363432;
    box-shadow: -1px 3px 5px 4px #363432;
    border-radius: 20px;
  }
}
.full-width{
  width: 100%;
}
